Repository eclipse-score/score, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexanderLanin, @dcalavrezo-qorix, @pahmann, @PhilipPartsch, @masc2023, @aschemmel-tech, @antonkri, @FScholPer, @qor-lb, @johannes-esr, @eclipse-score/automotive-score-committers, @PandaeDo, @thilo-schmitt, @HartmannNico, @skappel29, @grandyholger

.github/CODEOWNERS:

# GitHub CODEOWNERS file is a simple way to automate review system on github,
# by automatically assigning owners to a pull request based on which files
# were modified. All directories should have a proper codeowner
# Syntax: https://help.github.com/articles/about-codeowners/

# Note: last match wins

# By Default reviews go to the infrastructure community, to address missing lines in this document.
*                                     @AlexanderLanin @dcalavrezo-qorix

# All special files go to infrastructure as well
.*                                    @AlexanderLanin @dcalavrezo-qorix

.github/ISSUE_TEMPLATE/               @pahmann @PhilipPartsch @masc2023 @aschemmel-tech
.github/CODEOWNERS                    @antonkri @FScholPer @qor-lb @johannes-esr

/docs/                                @pahmann @PhilipPartsch @masc2023 @aschemmel-tech
/docs/conf.py                         @AlexanderLanin @dcalavrezo-qorix
/docs/contribute/                     @eclipse-score/automotive-score-committers
# /docs/features/                     @eclipse-score/automotive-score-technical-leads
/docs/features/                       @antonkri @FScholPer @qor-lb @johannes-esr
architecture/                         @eclipse-score/automotive-score-committers
# requirements/                       @eclipse-score/automotive-score-technical-leads
requirements/                         @antonkri @FScholPer @qor-lb @johannes-esr
# safety_analysis/                    @eclipse-score/safety-managers
safety_analysis/                      @aschemmel-tech @PhilipPartsch @masc2023
# safety_planning/                    @eclipse-score/automotive-score-technical-leads
safety_planning/                      @antonkri @FScholPer @qor-lb @johannes-esr
verification/                         @eclipse-score/automotive-score-committers
/docs/design_decisions/*infra*        @AlexanderLanin @dcalavrezo-qorix
/docs/glossary/                       @eclipse-score/automotive-score-committers
/docs/introduction/                   @eclipse-score/automotive-score-committers
/docs/manuals/                        @eclipse-score/automotive-score-committers
/docs/modules/                        @eclipse-score/automotive-score-committers
# /docs/platform_management_plan/     @eclipse-score/community-process
/docs/platform_management_plan/       @pahmann @PhilipPartsch @masc2023 @aschemmel-tech
# /docs/quality/                      @eclipse-score/quality-managers
/docs/quality/                        @masc2023 @pahmann @PandaeDo
# /docs/requirements/stakeholder/     @eclipse-score/automotive-score-technical-leads
/docs/requirements/stakeholder/       @antonkri @FScholPer @qor-lb @johannes-esr
# /docs/requirements/tool/            @eclipse-score/community-process
/docs/requirements/tool/              @pahmann @PhilipPartsch @masc2023 @aschemmel-tech
# /docs/safety/                       @eclipse-score/safety-managers
/docs/safety/                         @aschemmel-tech @PhilipPartsch @masc2023 @PandaeDo
# /docs/score_releases/               @eclipse-score/automotive-score-project-leads
/docs/score_releases/                 @thilo-schmitt @HartmannNico @skappel29 @grandyholger
/docs/score_tools/                    @eclipse-score/automotive-score-committers
# /docs/security/                     @eclipse-score/security-managers
/docs/security/                       @masc2023 @PandaeDo
# /docs/verification_report           @eclipse-score/automotive-score-technical-leads
/docs/verification_report             @antonkri @FScholPer @qor-lb @johannes-esr

/platform_integration_tests/          @eclipse-score/automotive-score-committers
# /tools/                             @eclipse-score/infrastructure-maintainers
/tools/                               @AlexanderLanin @dcalavrezo-qorix

Deploying to gh-pages from @ eclipse-score/score@b5a5e89fa2d2ef6d6e0e9289459709adfe9ed6c5 🚀
  versions.json
Owners: @AlexanderLanin, @dcalavrezo-qorix

docs: Improve description for feature team creation
  docs/platform_management_plan/project_management.rst
Owners: @pahmann, @PhilipPartsch, @masc2023, @aschemmel-tech

Bazel evaluation
  docs/score_tools/_assets/bazel.drawio.svg
  docs/score_tools/bazel.rst
  docs/score_tools/index.rst
Owners: @eclipse-score/automotive-score-committers

Define component requirements for bitmanipulation library
  docs/features/baselibs/docs/requirements/index.rst
  docs/modules/baselibs/bitmanipulation/docs/index.rst
  docs/modules/baselibs/bitmanipulation/docs/requirements/index.rst
Owners: @antonkri, @FScholPer, @qor-lb, @johannes-esr, @eclipse-score/automotive-score-committers

Define component requirements for bitmanipulation library
  docs/features/baselibs/docs/requirements/index.rst
  docs/modules/baselibs/bitmanipulation/docs/index.rst
  docs/modules/baselibs/bitmanipulation/docs/requirements/index.rst
Owners: @antonkri, @FScholPer, @qor-lb, @johannes-esr, @eclipse-score/automotive-score-committers

Deploying to gh-pages from @ eclipse-score/score@deeffc2b8b83f113a56018a265a98a9567f1d4fb 🚀
  versions.json
Owners: @AlexanderLanin, @dcalavrezo-qorix

Deploying to gh-pages from @ eclipse-score/score@deeffc2b8b83f113a56018a265a98a9567f1d4fb 🚀
  versions.json
Owners: @AlexanderLanin, @dcalavrezo-qorix

Deploying to gh-pages from @ eclipse-score/score@deeffc2b8b83f113a56018a265a98a9567f1d4fb 🚀
  versions.json
Owners: @AlexanderLanin, @dcalavrezo-qorix

Insert table of tool requirements instead of (broken) links
  BUILD
  MODULE.bazel
  docs/score_tools/doc_as_code.rst
Owners: @AlexanderLanin, @dcalavrezo-qorix, @eclipse-score/automotive-score-committers

Add Component description for Result library
  docs/modules/baselibs/result/docs/index.rst
Owners: @eclipse-score/automotive-score-committers

Daily cleanup of outdated documentation
  versions.json
Owners: @AlexanderLanin, @dcalavrezo-qorix

doc: Extend Orchestration architecture
  docs/features/orchestration/docs/architecture/index.rst
  docs/features/orchestration/modules/baselibs/containers.rst
  docs/features/orchestration/modules/baselibs/index.rst
  docs/features/orchestration/modules/baselibs/sync.rst
  docs/features/orchestration/modules/executor/docs/index.rst
  docs/features/orchestration/modules/executor/executor/docs/architecture/executor.rst
  docs/features/orchestration/modules/executor/executor/docs/index.rst
  docs/features/orchestration/modules/index.rst
  docs/features/orchestration/modules/orchestration/docs/index.rst
  docs/features/orchestration/modules/orchestration/index.rst
  docs/features/orchestration/modules/orchestration/orchestration.rst
  docs/features/orchestration/modules/orchestration/orchestrator/docs/architecture/orchestrator.rst
  docs/features/orchestration/modules/orchestration/orchestrator/docs/index.rst
  docs/features/orchestration/requirements.rst
Owners: @eclipse-score/automotive-score-committers, @antonkri, @FScholPer, @qor-lb, @johannes-esr

docs: refine DR-003-infra based on feedback
  docs/design_decisions/DR-003-infra.md
Owners: @AlexanderLanin, @dcalavrezo-qorix

Deploying to gh-pages from @ eclipse-score/score@952d831a8f5858f7c00417d980fc7eaacd02e003 🚀
  versions.json
Owners: @AlexanderLanin, @dcalavrezo-qorix
