Repository eclipse-score/score, pull requests merged in 2025-02, with the labels that each got.

#281 docs: Add no IDE live preview
  README.md
  docs/BUILD
  docs/_tooling/live_preview.py
  docs/_tooling/requirements.txt
  docs/_tooling/requirements_lock.txt
Labels: infrastructure, docs-as-code

#265 docs: Add version switcher
  .github/actions/deploy-versioned-pages/action.yml
  .github/workflows/docs-cleanup.yml
  docs/_tooling/assets/css/score.css
  docs/conf.py
Labels: infrastructure, docs-as-code

#296 cr_checker: Add `remove offset` option
  tools/cr_checker/cr_checker.bzl
  tools/cr_checker/tool/README.md
  tools/cr_checker/tool/cr_checker.py
Labels: enhancement, infrastructure

#327 docs: allow publishing docs from forked PRs
  .github/actions/deploy-versioned-pages/action.yml
  .github/workflows/docs-cleanup.yml
  .github/workflows/docs.yml
Labels: infrastructure, docs-as-code

#302 doc: Update Score Process Model
  docs/process/introduction/_assets/score_process_model.drawio.svg
Labels: documentation, enhancement

#295 tooling: Refactor checks and tests to the new way
  docs/BUILD
  docs/_tooling/extensions/score_metamodel/checks/check_options.py
  docs/_tooling/extensions/score_metamodel/checks/id.py
  docs/_tooling/extensions/score_metamodel/checks/id_contains_feature.py
  docs/_tooling/extensions/score_metamodel/checks/standards.py
  docs/_tooling/extensions/score_metamodel/checks/traceability.py
  docs/_tooling/extensions/score_metamodel/checks/utils/__init__.py
  docs/_tooling/extensions/score_metamodel/checks/utils/util.py
  docs/_tooling/extensions/score_metamodel/tests/test_check_options.py
  docs/_tooling/extensions/score_metamodel/tests/test_standards.py
  docs/_tooling/extensions/score_metamodel/tests/test_traceability.py
  docs/_tooling/sphinx_extensions/BUILD
  docs/_tooling/sphinx_extensions/requirements.in
  docs/_tooling/sphinx_extensions/requirements_lock.txt
  docs/_tooling/sphinx_extensions/sphinx_extensions/checks.py
  docs/_tooling/sphinx_extensions/sphinx_extensions/requirements/checks/traceability.py
  docs/_tooling/sphinx_extensions/test/BUILD
  docs/_tooling/sphinx_extensions/test/requirements/checks/BUILD
  docs/_tooling/sphinx_extensions/test/requirements/checks/test_traceability.py
  docs/_tooling/sphinx_extensions/test/requirements/model/BUILD
  docs/conf.py
Labels: infrastructure, docs-as-code

#384 cr_checker: Fix extention option for BUILD files
  tools/cr_checker/tool/cr_checker.py
Labels: infrastructure, lang:python

#287 docs: Added decision records for python tooling
  tools/decision_records/python_tooling.md
Labels: infrastructure, docs-as-code
